*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #302d2c;
    background-position: center;
}

.main-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.main-chat h1{
    text-transform: uppercase;
    color: #fff;
    margin-top: -42%;
    margin-left: -65%;
    font-size: 60px;
    letter-spacing: 6px;
}

.form-chat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40%;
    margin-bottom: -40%;
}

.box-chat{
    height: 50%;
    overflow-y: scroll;
    margin-bottom: -30%;
    margin-top: 5%;
    margin-left: 20%;
    background-image: url("../images/boxchat-bg.svg");
    background-position: center;
    color: #fff;
    background-color: lightgray;
    box-shadow: #1a1a1a 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
    border-radius: 1%;
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}

.box-chat::-webkit-scrollbar{
    width: 8px; height: 3px;
}

.box-chat::-webkit-scrollbar-track{
    background-color: #646464;
}

.box-chat::-webkit-scrollbar-track-piece{
    background-color: #000;
}

.box-chat::-webkit-scrollbar-thumb{
    height: 50px; background-color: #666; border-radius: 3px;
}

.box-chat::-webkit-scrollbar-corner{
    background-color: #646464;
}

.box-chat::-webkit-resizer{
    background-color: #666;
}